body, #root {
    margin: 0;
    min-height: 100vh;
}

#root {
    height: 100vh;
    font-variant-numeric: tabular-nums;
}

/*
    Remove arrows in the number inputs.
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*
    Font enhancements.
*/
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Custom scrollbar

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: hsl(var(--nextui-foreground-100));
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(var(--nextui-primary-100));
    border-radius: 14px;
    border: 2px solid hsl(var(--nextui-foreground-100));
}

*::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--nextui-primary-200));
}

/**
 * Make certain parts of text (i.e., labels of checkboxes that act like buttons) unselectable.
 */
.unselectable {
    -webkit-user-select: none; // Safari
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // IE10+/Edge
    user-select: none; // Standard
}

.non-draggable {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'layout';
@import 'wiki';
@import 'components';
