body, #root {
    margin: 0;
    min-height: 100vh;
}

.content {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
}

/*
    Remove arrows in the number inputs.
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/*
    Font enhancements.
*/
:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;